*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.gameName{
    background-color: salmon;
    color: white; 
    text-align: center;
    font-size:35px; 
    padding: 20%;
    text-transform: uppercase; 
    letter-spacing: 10px;
}

.instructions{
    text-align: center;
    padding:20%;
}
.instuctionTitle{
    font-size: 50px;
    font-family: sans-serif; 
}

.instuctionDescrip{
    font-size: 50px;
}
.roundEasy {
    width: 193px;
    height: 75px;
    overflow: visible;
    background-color: #60A758;
    border-radius: 127px;
    border: 3px solid #60A758;
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.71);
}
.roundEasy:hover{
  background-color: #3e8e41;
}

.roundEasy:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #632;
  transform: translateY(4px);
}

.roundMedium {
    width: 193px;
    height: 75px;
    overflow: visible;
    background-color: #f0bf0f;
    border-radius: 127px;
    border: 3px solid #f0bf0f;
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.71);
}

.roundMedium:hover{
  background-color: goldenrod;
}

.roundMedium:active{
  background-color: goldenrod;
  box-shadow: 0 5px #632;
  transform: translateY(4px);
}

.roundHard {
    width: 193px;
    height: 75px;
    overflow: visible;
    background-color: #ed4a4a;
    border-radius: 127px;
    border: 3px solid #ed4a4a;
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.71);
}

.roundHard:hover{
  background-color: red;
}

.roundHard:active{
  background-color: red;
  box-shadow: 0 5px #632;
  transform: translateY(4px);
}

.start{
    vertical-align: middle;
    width: 469px;
    height: 120px;
    background-color: #0093F5;
    border-radius: 127px;
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.71);
    border: 7px solid #0093f5;
    
}

.start:hover{
  background-color: royalblue;
}

.start:active{
  background-color: royalblue;
  box-shadow: 0 5px #632;
  transform: translateY(4px);
}

.items{
  float: left;
  padding: 2%;
}

.timer{
  float:right;
  padding: 2%;
}


#starRating li {
	display: inline-block;
}

#play-again {
	background-color: #141214;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	width: 50%;
	font-family: 'Gloria Hallelujah', cursive;
	color: #ffffff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100px 300px;
  grid-gap: 10px;
  padding: 10px;
}

/* COMPUTER CARDS */

.computer{
  text-align: center;
  position: absolute;
  left: 300px;
  top: 350px;
  
 

}

#cpuContainer{
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;


  
}

.flipCardcpu1{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.cpuContainer:hover .flipCardcpu1 {
  transform: rotateY(180deg);
}

.cpuCard1, .cpuRxn1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  

 
}
.cpuCard1{
  background-color: #bbb;
  color: black;

  

  }

.cpuRxn1{
  background-color: green;
  color: black;
  transform: rotateY(180deg);
}
  

#cpuContainer2{
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  display: flex;

  
}
.flipCardcpu2{
  position: relative;
  left: 40%;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.8s;
  transform-style: preserve-3d;

}
  
 .flipCardcpu2:hover {
  transform: rotateY(180deg);
}

.cpuCard2, .cpuRxn2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}
.cpuCard2{
  background-color:rgba(255, 85, 0, 0.5);
  color: black;
  }
  
.cpuRxn2{
background-color: rgba(255, 85, 0, 0.5);
color: black;
transform: rotateY(180deg);
}
    



#cpuContainer4{
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  display: flex;

  
}
.flipCardcpu4{
  position: relative;
  left: 20%;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.cpuContainer4:hover .flipCardcpu4 {
  transform: rotateY(180deg);
}

.cpuCard4, .cpuRxn4 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}
.cpuCard4{
  background-color:rgba(0, 153, 255, 0.5);
  color: black;
  }

.cpuRxn4{
  background-color: rgba(0, 153, 255, 0.5);
  color: black;
  transform: rotateY(180deg);
}

#cpuContainer5{
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;

  
}
.flipCardcpu5{
  position: relative;
  left: -30%;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.cpuContainer5:hover .flipCardcpu5 {
  transform: rotateY(180deg);
}

.cpuCard5, .cpuRxn5 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}
.cpuCard5{
  background-color: rgba(13, 255, 0, 0.5);
  color: black;
  }

.cpuRxn5{
  background-color: rgba(13, 255, 0, 0.5);
  color: black;
  transform: rotateY(180deg);
}


/* USER CARDS */

.myUser{
  text-align: center;
  position: absolute;
  right: -4000px;
  top: 150px;
  
  

}

userContainer{
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  display: flex;

  
}

.flipCardUser1{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.userContainer:hover .flipCardUser1 {
  transform: rotateY(180deg);
}

.userCard1, .userRxn1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  

 
}
.userCard1{
  background-color: #bbb;
  color: black;

  

  }

.userRxn1{
  background-color: green;
  color: black;
  transform: rotateY(180deg);
}
  

#userContainer2{
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  display: flex;

  
}
.flipCardUser2{
  position: relative;
  left: 40%;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.8s;
  transform-style: preserve-3d;

}
  
 .flipCardUser2:hover {
  transform: rotateY(180deg);
}

.userCard2, .userRxn2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}
.userCard2{
  background-color:rgba(255, 85, 0, 0.5);
  color: black;
  }
  
.userRxn2{
background-color: rgba(255, 85, 0, 0.5);
color: black;
transform: rotateY(180deg);
}
    



#userContainer4{
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  display: flex;

  
}
.flipCardUser4{
  position: relative;
  left: 20%;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.userContainer4:hover .flipCardUser4 {
  transform: rotateY(180deg);
}

.userCard4, .userRxn4 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}
.userCard4{
  background-color:rgba(0, 153, 255, 0.5);
  color: black;
  }

.userRxn4{
  background-color: rgba(0, 153, 255, 0.5);
  color: black;
  transform: rotateY(180deg);
}

#userContainer5{
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;

  
}
.flipCardUser5{
  position: relative;
  left: -30%;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.userContainer5:hover .flipCardUser5 {
  transform: rotateY(180deg);
}

.userCard5, .userRxn5 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}
.userCard5{
  background-color: rgba(13, 255, 0, 0.5);
  color: black;
  }

.userRxn5{
  background-color: rgba(13, 255, 0, 0.5);
  color: black;
  transform: rotateY(180deg);
}
    
/*
 * Styles for the Score Panel
 */


 .score-panel {
	text-align: left;
	margin-bottom: 10px;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.score-panel .restart {
	float: right;
	cursor: pointer;
}

.fa-star {
	color: #FFD700;
}

.timer {
	display: inline-block;
	margin: 0 1rem;
}


/*
 * Styles for congratulations modal
 */


.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}
  
.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
	font-family: 'Gloria Hallelujah', cursive;
}
  
.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #E5F720;
}

.popup .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}

#starRating li {
	display: inline-block;
}

#play-again {
	background-color: #141214;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	width: 50%;
	font-family: 'Gloria Hallelujah', cursive;
	color: #ffffff;
	border-radius: 5px;
}
